.dropdown-content {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.dropdown-content.active {
    margin-top: 1rem;
    max-height: 800px !important;
}
.dropdown-content .search-wrapper {
    opacity: 0 !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.dropdown-content.active .search-wrapper {
    opacity: 1 !important;
}
.dropdown-items {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
input[type="checkbox"] {
    accent-color: #000 !important;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    width: 240px;
    position: absolute;
    top: 0;
    height: 100%;
    pointer-events: none; /* جلوگیری از تداخل دو slider */
    z-index: 2;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    background: black;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -2px;
    pointer-events: all; /* فعال کردن drag */
    z-index: 3;
    position: relative;
  }
  
  .slider-track {
    height: 3px;
    background: #ccc;
    border-radius: 3px;
    position: absolute;
    width: 240px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
  